@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: var(--font-inter), sans-serif;
}

@theme {
  --font-inter: var(--font-inter);
  --font-mono: var(--font-mono);
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a; 
}

::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569; 
}
